@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

div {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0px 10px;
  color: brown
}
a:hover {
  text-decoration: underline;;
}

button {
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 10px;
  background-color: #E04C4C;
  color: white;
}

button:hover {
  background-color: #99E265;
  color: white;
  transform: scale(1.05);
}
button:active {
  transform: scale(1);
}
button:disabled {
  background-color: grey;
  transform: none;
}

.item {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 20px;
  border: 1px solid brown;
  margin-bottom: 10px;
}

.header {
  background-color: rgba(255, 255, 255, 0.7);
  border: 0.5px solid #99E265;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  align-items: center;
  font-size: x-large;
}

h1 {
  font-size: x-large;
  padding-bottom: 10px;
}

h2 {
  font-size: large;
  padding-bottom: 5px;
}

hr {
  margin: 5px 0px;
}

input {
  border-bottom: 1px solid grey;
  margin: 0px 10px;
}

input:focus {
  border-bottom: 1px solid grey;
  margin: 0px 10px;
  outline-width: 0;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
